<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>WWTBAB - Puzzle {{ passport }}</title>

<link rel="stylesheet" href="../chorno-belyi.css">

<style>
#orbit-a {
  background-color: #28b8f2;
}

#orbit-b {
  background-color: #fa9004;
}

#orbit-c {
  background-color: #fff200;
}

#orbit-d {
  background-color: #805af4;
}
</style>

<!-- web fonts -->
<!--
  Lato    - main body
  Baloo 2 - headings
  Georama - arrows
-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Baloo+2:wght@800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Georama:wght@600&text=%e2%86%90&display=swap" rel="stylesheet">

{% if mathjax %}
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endif %}

<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<script>
var orbitColors = ['#28b8f2', '#fa9004', '#fff200', '#805af4'];

// hat tip Alexey Lebedev and vsync at StackOverflow
// https://stackoverflow.com/a/11972692/1644283
function shuffleChildren(node) {
  for (let top = node.children.length; top > 0; top--) {
    node.appendChild(node.children[Math.floor(Math.random() * top)]);
  }
}

function setOrbitDisplay() {
  var show = document.querySelector('#show-orbits').checked;
  dessins = document.querySelectorAll('.dessin');
  for (var i = 0; i < dessins.length; i++) {
    orbit = dessins[i].dataset.orbit
    dessins[i].style.backgroundColor = show ? orbitColors[orbit] : 'transparent';
    label = dessins[i].querySelector('.orbit-label');
    label.style.visibility = show ? 'visible' : 'hidden';
  }
  trivia = document.querySelector('#orbit-trivia');
  if (trivia !== null) {
    trivia.style.visibility = show ? 'visible' : 'hidden';
  }
}
</script>

<!-- MathJax -->
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

</head>

<body>

<h1>Puzzle {{ passport }}</h1>

<div class="intro">
  <p>
    {{ flavor|safe }}
    <div class="orbit-controls">
      <div><a href="../puzzles.html"><span style="font-family: 'Georama'">&#x2190;</span> Back to list</a></div>
    </div>
  </p>
  <div class="orbits">
    <p id="orbit-trivia">
    {{ trivia|safe }}
    </p>
    <div class="orbit-controls">
      <div>
        <input type="checkbox" id="show-orbits" onclick="setOrbitDisplay()"/>
        <label for="show-orbits">Reveal answers</label>
      </div>
      <div>
        {% for orbit in orbits %}
        <a target="_blank" rel="noopener" href="https://beta.lmfdb.org/Belyi/{{ orbit.passport_path }}/{{ orbit.label }}"><div id="orbit-{{ orbit.label }}" class="orbit-link">{{ orbit.label|upper }}</div></a>
        {% endfor %}
        View on LMFDB
      </div>
    </div>
  </div>
</div>
<h2>Sorting bins</h2>
<div class="tray-container">
  <div class="tray" oncontextmenu="event.preventDefault(); event.stopPropagation(); return false">
    {% for orbit in orbits %}
      {% for dessin in orbit.dessins %}
      <div class="dessin" data-orbit="{{ orbit.index }}">
        <img src="{{ dessin.name }}.png" title="{{ dessin.permutation_str }}"/>
        <div class="orbit-label">{{ orbit.label|upper }}</div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% for orbit in orbits|slice:'1:' %}
<div class="tray-container"><div class="tray" oncontextmenu="event.preventDefault(); event.stopPropagation(); return false"></div></div>
{% endfor %}

<script>
var trays = document.querySelectorAll('.tray');
for (var i = 0; i < trays.length; i++) {
  new Sortable(trays[i], {
    group: 'shared',
    delay: 150,
    delayOnTouchOnly: true,
    animation: 150
  });
}

// shuffle dessins
shuffleChildren(trays[0]);

// respect initial value of "reveal answers" check box
setOrbitDisplay();
</script>

</body>
</html>
