* {
  box-sizing: border-box;
}

body {
  margin: 20px 40px 40px 40px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  background-color: #b8e5fe;
}

h1, h2 {
  margin: 0 0 0 0;
  font-family: 'Baloo 2', sans-serif;
}

h1 {
  margin-top: 20px;
  margin-bottom: 5px;
}

a {
  color: inherit;
}

p {
  margin: 0 0 20px 0;
}

.intro {
  max-width: 900px;
}

.orbits {
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
  background-color: #d6edfe;
}

.orbit-controls {
  margin-bottom: 0;
  line-height: 30px;
  display: flex;
  font-family: 'Baloo 2', sans-serif;
  font-size: 23px;
}

.orbit-controls > div {
  margin-right: 30px;
  margin-bottom: 0;
}

.orbit-controls > input {
  vertical-align: middle;
  position: relative;
}

.orbit-link {
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
  min-width: 30px;
}

.tray-container {
  margin-bottom: 20px;
}

.tray {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  min-height: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d6edfe;
}

.tray > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  margin-left: 10px;
}

.tray > div > img {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Xander Gottlieb's solution to the right padding problem for horizontally
scrolling containers */
.tray:last-child:after {
  content: "";
  display: block;
  min-width: 10px;
}

.box .box-row { 
    display:table-row; 
} 
.box .box-cell { 
    display:table-cell; 
    width:50%; 
    padding:10px; 
} 
.container .box .box-cell.box1 { 
    text-align:justify; 
 } 
.container .box .box-cell.box2 { 
    text-align:justify 
} 
